html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 51px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.search {
    padding: 7.5px;
}

.search input {
    width: calc(100% - 80px);
    margin: 0 5px 0 0;
    float: left;
}

.search i {
    font-size: 27px;
    padding: 2px 10px;
    cursor: pointer;
}

.status div {
    font-size: 24px;
    cursor: pointer;
}

.item_number {
    float: left;
    padding: 2px 5px;
}

.d24 {
    background: #CD6D45;
    height: 20px;
    width: 4px;
    position: relative;
    left: 8px;
}

.d24:after {
    content: "";
    height: 4px;
    width: 12px;
    background: #CD6D45;
    position: absolute;
    top: 8px;
}

.comment {
    font-size: 20px;
    cursor: pointer;
    float: right;
    padding: 0 10px;
}

.edit_comment {
    font-size: 18px;
    padding: 1px 10px;
}

.left_menu {
    position: fixed;
    float: right;
    width: min-content;
}

.admin-menu {
    background: #232323;
    position: fixed;
    left: 0;

}

.admin-content {
    margin-left: 16.5%;
    float: left;
    padding: 20px 15px 20px;
}
